<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href = "/style.css">
       
</head>
<body class="body1">
   <div class="login"> <h1>Login</h1>
    <form action ="/user/login" method="post">
        <label id="email">Email</label><br>
        <input type="text" required name="email"><br>
        <label id="password">Password</label><br>
        <input type="text" required name="password"><br>
        <div id="bu">
        <button type="submit" id="b">Login</button>
   </div>
   </div>
    </form>
    <div class="newuser">
    <p>New user? <a href="/signup" ><button type="button" id="submitb">Sign up</a> </button>   </p>
   
</div>

</body>
</html>